# 必ず守ること

- タスクを依頼されたら最初に必ずpackage.jsonの内容を確認して仕様ライブラリを把握すること
- タスクを依頼されたら最初に必ずrepo.mdの内容を確認してMantineの主要コードを把握すること
- コードコメントは日本語で 既存のコードコメントは指示がない限り変えないこと
- ビルドエラーを直してとお願いされたら「npm run build」して成功するまで修正とビルドを繰り返すこと
- なるべくreact純正のhookよりmantine hookを利用すること

# ライブラリ概要

- 言語: TypeScript
- UI: React v19 Mantine v7
- hook: mantine hook
- lint: biome


epubを選択したらパースして目次が表示され、任意の目次をチェックボックスで選択して
ダウンロードボタンをクリックすると、その中身のテキストを結合してダウンロードできるサイトを作りたい
まずはepubを選択したら目次が一覧で表示されるところまでを実装して

@lingo-reader/epub-parserを使う
src/scripts/epub-to-text.tsを参考にすること
/にアクセスしたらそこにmantineフォームがある感じ　src/Home.tsxに実装して良い
